.homes {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.home {
    flex-basis: 28%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid goldenrod;
}

.page{
    margin: 1.5rem;
    padding: 0rem;
    /* border: 1px solid goldenrod; */
}